extends ../layout.jade

block content
  .col-sm-6.col-sm-offset-3.editProfileDiv
    h1 Edit your account
    form(action="/account?_method=PUT", method="POST" id = 'accountUpdate')
      h3(id="aliasDisplay") #{user.alias}
      img(id="photoDisplay", src="#{user.photo}" class="profilePhoto")
      .inputGroup
        h5 Name
        input(id="aliasInput", type="text" name="user[alias]",  placeholder="#{user.alias}", autocomplete="off")
        h5 Profile Photo
        textarea(id="photoInput", type="text" name="user[photo]", placeholder="#{user.photo}",autocomplete="off")
        input(type="submit" value="Submit" id="submit")

    button(id="reset") Reset Form
    h4 Delete your account
    form(action="/users/#{user.id}?_method=DELETE" method="POST" id="deleteAccount")
      input(type="submit" value="X" class="btn btn-xs btn-danger")
    script(type="text/javascript", src="/javascripts/accountEdit.js")
    
