extends ../layout.jade

block content
  .col-sm-6.col-sm-offset-2.profileDiv
    h1=user.alias
    if (!user.photo)
      img.profilePhoto(src="http://memesvault.com/wp-content/uploads/Derp-Face-Meme-Smiley-191.jpg") 
    else
      img.profilePhoto(src="#{user.photo}")
    h4 Email: #{user.email}
    h3 Posts by You: 
    each post in posts
      .accountTile
          a(href="/users/#{post.user_id}/posts/#{post.id}")
            h3 #{post.title}
         

