extends ../layout

block content
  h1 See all the comments for this post
  a(href="/posts/#{post.id}/comments/new") Add a new comment
  ul
    each comment in comments
      .container.bodyDiv
        !{comment.content}
        a(href="/posts/#{post.id}/comments/#{comment.id}/edit") 
          button(class="btn btn-primary btn-sm") Edit this post
        form(action="/posts/#{post.id}/comments/#{comment.id}?_method=DELETE" method="POST" class="deleteBtn")
          input(type="submit" value="X" class="btn btn-sm btn-danger")