extends ../layout

block content
  h1(class="lead") Hey #{post.alias} - what are you trying to change?
  form(action="/users/#{post.user_id}/posts/#{post.post_id}?_method=PATCH", method="POST")
    div
      label Title: &nbsp; 
      input(class="title" type="text" name="post[title]" value="#{post.title}")
    div
      textarea(rows="10" cols="50" name="post[body]") #{post.body}
    div
      input(type="submit" value="Edit this post")
