extends ../layout

block content
  .col-sm-6.col-sm-offset-2.profileDiv
    h1=user.alias
    img(class="profilePhoto" src="#{user.photo}")
    
    h3 See #{user.alias}'s posts
    each post in posts
      .accountTile
        a(href="/users/#{post.user_id}/posts/#{post.id}") 
          h3 #{post.title}
          