extends ../layout

block content
<<<<<<< HEAD
  .container
    h1(class="lead") See #{user.alias}'s posts

=======
  .col-sm-6.col-sm-offset-2.profileDiv
    h1=user.alias
    img(class="profilePhoto" src="#{user.photo}")
    
    h3 See #{user.alias}'s posts
>>>>>>> af8bae8b6e554c4ebfb75f9a81128060faf55b27
    each post in posts
      .accountTile
        a(href="/users/#{post.user_id}/posts/#{post.id}") 
          h3 #{post.title}
          