extends ../layout

block content
  .container 
    h2(class="lead") Title: #{post.title}
      a(href="/users/#{post.user_id}/posts/#{post.id}/edit" class="editBtn") 
        button(class="btn btn-primary btn-sm") Edit this Post
    .bodyDiv
      h4(class="lead") Body:
      .bodyBody
        img(class="icon" src="#{user.photo}")
        .commentBody
          !{post.body}
          p(class="postAuthor") Posted by #{user.alias}
      h4(class="lead") Comments:
      each comment in comments
        .commentDiv 
          img(class="icon" src="#{comment.photo}")
          .commentBody
            !{comment.content} 
            p(class="commentAuthor") Commented by #{comment.alias}
    a(href="/posts/#{post.id}/comments/new" class="newBtn") 
      button(class="btn btn-primary btn-sm") Add a Comment
  script(src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js")
  script(src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js")
  script(src="/javascripts/script.js")
